/* Styling for the map. Use this to modify the site. */

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 50%;
  width: 100%;
}

.map__description {
  position: fixed;
  top: 0;
  left: 0;
  left: 50%;
}